body{
    margin:0;
    padding:20px;
    font-family:Arial,sans-serif;

    background:linear-gradient(
        180deg,
        #ff7b00,
        #ffffff
    );

    min-height:100vh;
}

.header{
    text-align:center;
    margin-bottom:25px;
}

.logo{
    width:140px;
    display:block;
    margin:auto;
}

.header h1{
    color:#000;
    margin:10px 0 0 0;
}

.header p{
    color:#444;
}

.container{
    max-width:550px;
    margin:auto;

    background:white;

    padding:25px;

    border-radius:18px;

    box-shadow:0 8px 30px rgba(0,0,0,.15);
}

.container h2{
    text-align:center;
    color:#ff6600;
}

input,
select{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:16px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:15px;
    background:#ff6600;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#e55d00;
}
